# Configuration file

general {
    # A transparent box behind the text [default: false]
    B:"Enable Text Background"=false

    # This is the pool of tips that will be displayed during the world loading screen [default: ]
    S:"Tip Lang Keys" <
        e2ee.tips.auto_is_key
        e2ee.tips.craft_extras
        e2ee.tips.angel_ring
        e2ee.tips.check_controls
        e2ee.tips.automate_everything
        e2ee.tips.jei_backspace
        e2ee.tips.portable_tanks_crafting
        e2ee.tips.nutrition_debuffs
        e2ee.tips.loot_dragon
        e2ee.tips.short_item_cables
        e2ee.tips.debug_keys
        e2ee.tips.grave_sneak
        e2ee.tips.drawer_key_offhand
        e2ee.tips.pumpjack_pipe
        e2ee.tips.move_spawners
        e2ee.tips.linking_wand_offhand
        e2ee.tips.xu_powersharing
        e2ee.tips.foodlist_size
        e2ee.tips.undo_excavation
        e2ee.tips.wand_oops
        e2ee.tips.astral_ritual_chunkloading
        e2ee.tips.horologium_spawn
        e2ee.tips.mystical_agg_seeds
        e2ee.tips.smeltery_fuels
        e2ee.tips.pile_of_ashes_fuel
        e2ee.tips.akashic_tome
        e2ee.tips.compact_machine_thaumcraft
        e2ee.tips.sugarcane_no_water
        e2ee.tips.mob_farm_lag
        e2ee.tips.nuclearcraft_gas_conversion
        e2ee.tips.quark_chest_buttons
        e2ee.tips.ae_interface_naming
        e2ee.tips.advanced_omniwand
        e2ee.tips.drawers_cfb_floor
        e2ee.tips.witch_water_mobs
        e2ee.tips.ender_lily_endstone
        e2ee.tips.find_item_in_chests
        e2ee.tips.steeleaves_synergy
        e2ee.tips.building_gadgets_me
        e2ee.tips.maim_trap
        e2ee.tips.ice_bomb_obsidian
        e2ee.tips.lock_stairs_rotation
        e2ee.tips.jei_dragging
        e2ee.tips.show_item_in_chat
        e2ee.tips.give_item_to_player
        e2ee.tips.ping_block
        e2ee.tips.psi_energy_xp
        e2ee.tips.calm_down_tool
        e2ee.tips.refresh_sound_device
        e2ee.tips.eio_fluid_tank_lava
        e2ee.tips.carry_on_spawner
        e2ee.tips.ae2_backpack_lag
        e2ee.tips.industrial_wires_rf_eu
        e2ee.tips.trash_item_shortcut
        e2ee.tips.inventory_system_storage
        e2ee.tips.openblocks_tank_xp
        e2ee.tips.home_command_craft
        e2ee.tips.fluid_bus_lag
        e2ee.tips.horologium_chaos_guardian
        e2ee.tips.nocturnal_powder_mobs
        e2ee.tips.blood_magic_teleposers
        e2ee.tips.id_network_diagnostics
        e2ee.tips.vis_twilight_forest
        e2ee.tips.env_tech_share_blocks
        e2ee.tips.heads_nbt_lag
        e2ee.tips.crawl_key
        e2ee.tips.bcore_util_regenchunk
        e2ee.tips.tmg_deathlist
        e2ee.tips.splash_water_extinguish
        e2ee.tips.patchouli_recipe_keys
        e2ee.tips.deconstruct_tcon_tools
        e2ee.tips.crook_fortune_redstone
        e2ee.tips.ie_multiblock_lag
        e2ee.tips.nick_command
        e2ee.tips.restock_lunch_bag
        e2ee.tips.mudball_dirty
     >

    # This is a map that determines the wait time for tips in different languages
    # For example, en_us:0.1 refers to "wait 0.1s for each character for tips in English" [default: [en_us:0.1]]
    S:"Tip Wait Time" <
        en_us:0.1
     >
}


