# Configuration file

general {

    mixinsettings {
        # Fix IE wire rendering for vertical/near-vertical wires and chunk-border cases [Default=true]
        B:fix_IE_wires=true

        # Replace IE conveyors with IT's optimized version. [Default=true]
        B:replace_IE_conveyors=true

        # Replace IE pipes with IT's own version. [Default=true]
        B:replace_IE_pipes=false
    }

}


