# Configuration file

general {

    toggles {
        # Allows all battery variants to be equipped as charm baubles.
        B:Battery=true

        # Allows the Engineer's Goggles and Engineer's Infrared Goggles to be equipped as head baubles.
        B:"Engineer's Goggles"=true

        # Allows the liquid banning ring to be equipped as a ring bauble.
        B:"Liquid Banning Ring"=true

        # Allows Potion Rings to be equipped as ring baubles. See SETTINGS for additional options.
        B:"Potion Rings"=true

        # Allows the Ring of Growth to be equipped as a ring bauble.
        B:"Ring of Growth"=true

        # Allows the Ring of Magnetizing to be equipped as a ring bauble.
        B:"Ring of Magnetizing"=true

        # Allows the Traveller's Sack and Void Sack to be equipped as belt baubles.
        B:Sacks=true

        # Allows the Wings of the Bat to be equipped as a body bauble.
        B:"Wings Of The Bat"=true
    }

    settings {
        # Enables the item data fixer. This will ensure that replacing Actually Baubles with this mod will not
        # cause items to disappear. If this is not needed you can disable this feature.
        B:"Enable Data Fixers"=true

        # Adds a keybind that allows players to open Sacks equipped in baubles slots.
        B:"Open Sack Keybind"=true

        # Only the advanced variants of the potion rings will provide their effects when equipped.
        B:"Potion Ring - Advanced Only"=true

        # Adds a keybind that allows players to toggle Ring of Magnetization in inventory or bauble slots.
        B:"Toggle Magnet Keybind"=true
    }

}


